body {
	background: #5a8c53;
	color: rgba(0,0,0,0.5);
	font-family: Roboto, Arial;
	width: 800px;
	margin: auto;
}

a {
	text-decoration: inherit;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.1s ease-out;
}
a:hover {color: #fff}

h1 {
	margin: 0;
	margin-top: 50px;
	font-weight: 300;
	font-size: 60px;
}

main {border: 3px solid rgba(0,0,0,0.5);touch-action: none;}

main {width: 800px;height: 500px;margin: -3px;}

#tools {
	margin: 20px 0;
	line-height: 1.5em;
}
#tools legend {
	display: inline-block;
	margin-right: 10px;
	font-size: inherit;
	font-weight: bold;
}
#tools input + label {
	position: relative;
	font-size: inherit;
	padding: 10px 0;
	padding-top: 2px;
	margin-right: 10px;
	padding-left: 20px;
}
#tools input {display: none;}
#tools input + label:before {
	content: ' ';
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 0;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,0.5);
	border: 2px solid #2d4529;
	border-radius: 8px;
}
#tools input + label:after {
	content: ' ';
	display: none;
	position: absolute;
	top: 8px;
	left: 4px;
	width: 6px;
	height: 6px;
	background: #2d4529;
	border-radius: 100%;
}

#tools input[type="radio"] + label {}
#tools input[type="radio"] + label:before {
	border-radius: 100%;
}
#tools input[type="radio"]:checked + label:after {
	display: inline-block;
	
}

#tools input[type="checkbox"] + label {padding-left: 30px;}
#tools input[type="checkbox"] + label:before {
	width: 20px;
}
#tools input[type="checkbox"] + label:after {
	display: inline-block;
	transition: left 0.05s ease-out, background 0.05s ease-out;
}
#tools input[type="checkbox"]:checked + label:before {
	background: #2d4529;
}
#tools input[type="checkbox"]:checked + label:after {
	left: 14px;
	background: #adc5a9;
}

content div {margin: 20px 0;}
content div img {vertical-align: middle;margin-right: 10px;height: 32px;}

footer {
	padding: 10px 0;
}